* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    height: 100dvh;

    font: 1em / 1.6 sans-serif;;
}

#left-panel {
    width: 30vw;
    background-image: url("../Images/daniel-shapiro-U-z4xo7GR14-unsplash.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    text-align: center;
    color:rgb(245, 245, 245);

    div:last-of-type {
        margin-bottom: 1vh;
    }
}

#left-panel div:first-of-type {
    font-family: "ComicRunes", system-ui;
    font-size: 8rem;
    
    width: 100%;
    margin-top: 20vh;
    background-color: hsla(0, 0%, 9%, 0.301);
    padding-left: 100px;
    /* filter: invert(0.9); */
    /* mix-blend-mode: color-burn; */
}

#left-panel div:first-of-type > span {
    position: relative;
}

#left-panel div:first-of-type > span::before {
    position: absolute;
    content: "";
    background: url(../Images/odin-lined.png);
    width: 380px;
    height: 508px;

    scale: 0.3;
    right: 80px;
    bottom: -180px;
}

#right-panel {
    width: 70vw;
    padding-top: 120px;
}

#right-panel > div,
#right-panel > form {
    padding-left: 30px;
}

#right-panel div:first-of-type > p,
form > p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

#right-panel div:first-of-type > p + p{
    margin-top: 20px;
    margin-bottom: 80px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    row-gap: 20px;

    padding-bottom: 30px;
    width: 75%;
}

li {
    width: 50%;
}

label {
    display: block;
    width: fit-content;

    font-family: system-ui, sans-serif;
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

input,
button {
    font-family: inherit;
    font-size: 100%;
    padding: 4px 8px;
    margin: 0;

    appearance: none;
    -webkit-appearance: none;
}

input {
    min-width: 75%;
    border: 2px solid #f1f1f1;
    border-radius: 4px;
}

input:focus,
input:focus-visible {
    border: none;
    outline: none;
    border: 2px solid dodgerblue;
    box-shadow: 0px 3px 3px hsl(0, 0%, 70%);
}

input:hover,
input:focus-within {
    background-color: rgb(228, 228, 228);
}

input:valid[type="password"] {
    border: 2px solid seagreen;
}

input:invalid {
    border: 2px solid tomato;
}

form {
    box-shadow: 2px 3px 3px hsl(0, 0%, 70%);
    margin-bottom: 20px;
}

@font-face {
    font-family: 'ComicRunes';
    src: url('../Fonts/ComicRunes.woff2') format('woff2'),
        url('../Fonts/ComicRunes.woff') format('woff');
}
